@import "../base/colors";
@import "../base/typography";
@import "../base/mixins";

// Blue button style start here
.blue-btn,
.grey-btn,
.gray-btn,
.orange-btn,
.white-btn {
  font-family: $regular;
  border: none;
  padding: 0.4rem 2.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  @include x-small-screen {
    width: 100%;
  }
  @include medium-screen {
    width: auto;
  }
}

.orange-btn,
.white-btn,
.blue-btn {
  color: $white;
  font-size: 1.25rem; //20px
  transition: all 0.8s;
  position: relative;
  transition: all 0.5s;
  z-index: 111;
  overflow: hidden;
  .on-hover {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover {
    .on-hover {
      transform: translateX(0);
      opacity: 1;
      z-index: -1;
    }
  }
}
.blue-btn {
  background-color: $blue;
  color: $white100;
  .on-hover {
    background-color: $orange;
  }
}
.white-btn {
  &:hover {
    color: $white100;
  }
  color: $blue;
  background-color: $white100;
  .on-hover {
    background-color: $orange;
  }
}

.gray-btn {
  color: $white100;
  background-color: rgba($black, 40%);
}
.orange-btn {
  background-color: $orange;
  color: $white100;
  &:hover {
    color: $blue;
  }
  .on-hover {
    background-color: $white100;
  }
}

// Blue button style Arabic start here

.rtl {
  .blue-btn,
  .gray-btn {
    font-family: $ca-regular;
  }
}
