@import "../../../../../assets/styles/base/colors";
@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/base/mixins";
@import "../../../../../assets/styles/base/typography";
@import "~swiper/css";
@import "~swiper/css/navigation";
.project-details-section {
  // backdrop-filter: blur(5px);
  @include background-image;
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 49, 102, 0.7);
    filter: brightness(20%);
  }

  .swiper {
    // backdrop-filter: blur(5px);
    .title-text {
      color: $white;
      font-family: $semiBold;
    }

    .mySwiper {
      padding: 3rem;
      @include flexCenter;
      width: 100%;
      height: 100%;
      .swiper-button-next:after {
        content: "" !important;
      }

      .swiper-button-prev::after {
        content: "" !important;
      }
      .image-container {
        overflow: hidden;
        cursor: pointer;
        transition: 1s;
        &:hover {
          img {
            transform: scale(1.3);
          }
        }
      }
      img {
        width: 100%;
        transition: 0.5s;

        @include x-small-screen {
          height: 30vh;
        }
        @include medium-screen {
          max-height: none;
          height: 40vh;
          object-fit: cover;
        }
      }
      .text {
        margin-top: 1rem;
        font-family: $medium;
        color: $white;
      }

      .swiper-button-prev {
        @include x-small-screen {
          display: none;
        }

        @include medium-screen {
          display: block;
          background-image: url("../../../../../assets/imgs/arrowRi.svg");
          right: 0;
          left: auto;
          //   background-color: $white100;
          top: 95%;
          width: 4rem;
          height: 4rem;
          padding: 1rem;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 5rem;
        }
      }

      .swiper-button-next {
        @include x-small-screen {
          display: none;
        }

        @include medium-screen {
          display: block;
          background-image: url("../../../../../assets/imgs/img2.svg");
          // right: 0;
          //   background-color: $white100;
          top: 95%;
          width: 4rem;
          height: 4rem;
          padding: 1rem;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 0;
        }
      }
    }
  }
  &.rtl {
    .swiper {
      .swiper-button-prev {
        @include medium-screen {
          left: 0 !important;
          right: auto !important;
          margin-left: 5rem;
          transform: rotate(180deg);
        }
      }
      .swiper-button-next {
        @include medium-screen {
          transform: rotate(180deg);
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
  }
}
