<div class="form" setRtl>
  <h3>
    {{ contactUs?.sub_title }}
  </h3>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div>
        <input-text
          [formControlName]="'name'"
          [label]="'LABELS.NAME'"
          [formControl]="formControlData('name')"
          [errorMessages]="errorMessages"
          [transparent]="true"
        >
        </input-text>
      </div>

      <div>
        <input-text
          [formControlName]="'email'"
          [label]="'LABELS.E_MAIL'"
          [formControl]="formControlData('email')"
          [errorMessages]="errorMessages"
          [transparent]="true"
        >
        </input-text>
      </div>

      <div>
        <input-text
          [formControlName]="'message'"
          [label]="'LABELS.MESSAGE'"
          [formControl]="formControlData('message')"
          [errorMessages]="errorMessages"
          [transparent]="true"
          [type]="'textarea'"
        >
        </input-text>
      </div>

      <div>
        <div class="btn-container">
          <form-spinner *ngIf="loadding"></form-spinner>
          <button *ngIf="!loadding" class="blue-btn">
            {{ "CAREERS.SUBMIT" | translate }}
            <div class="on-hover"></div>
          </button>
        </div>
        <div class="message" *ngIf="messageState">
          <p>
            {{ messageState }}
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
