<div class="mission" setRtl>
  <div class="adcons-container">
    <div class="row gap-3 gap-md-0 justify-content-center">
      <div class="col-md-5">
        <div class="mission-details">
          <div class="mission-container">
            <h2>
              {{ mission?.mission_title }}
            </h2>
            <p>
              {{ mission?.mission_description }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="vision-details">
          <div class="vision-container">
            <h2>
              {{ mission?.vision_title }}
            </h2>
            <p>
              {{ mission?.vision_description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
