<div class="career-details-header" setRtl>
  <div class="adcons-container">
    <div class="row align-items-end">
      <div class="col-xl-6">
        <div class="info">
          <h4>{{ careerDetails.details }}</h4>
          <div>
            <span class="head">{{ "CAREERS.LOCATION" | translate }} : </span>
            <span class="body">{{ careerDetails.location }}</span>
          </div>
          <div>
            <span class="head">{{ "CAREERS.TYPE" | translate }} : </span>
            <span class="body">{{ careerDetails.work_type }}</span>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6">
        <div class="btn-container">
          <button class="blue-btn">
            {{ "CAREERS.APPLY_NOW" | translate }}
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
